.card {
    height: 250px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #ffffff;
}

.cardImage {
    text-align: center;
    height: 180px;
    padding: 5px;
    overflow: hidden;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.cardInfoText {
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

.cardInfoLink {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    line-height: 1;
}

.cardInfoLinkCircular {
    background-color: #4c4c4c;
    border-radius: 100%;
    padding: 3px;
    margin: 0 3px;
    font-size: 10px;
    height: 10px;
    width: 10px;
    text-align: center;
}