.filtersContainer {
    background-color: #ffffff;
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.textinput {
    border: none;
    border-bottom: 1px solid #ededed;
    font-size: inherit;
    margin-bottom: 10px;
}

.filters {
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sorting {
    min-width: 100px;
}

.select {
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    margin-bottom: 10px;
}